.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax( 20px, auto);
}

.grid div {
    background: #ecf0f1;
    padding: 1em;
}

.grid div:hover{
    border: 1px solid #f1c40f;
}


.nested-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
